<<<<<<< HEAD
<h1><%= @movie.title %></h1>
=======
<h1>Title: <%= @movie.title %></h1>
<h2>Genre: <%= @movie.genre%></h2>
<h2>Year released: <%= @movie.year_released%></h2>
>>>>>>> 7afdb0dd43ee57a6d87886f94e1f8055ac749dc6
