<h1>A List of Your Rentals</h1>

<ul>
    <% @rentals.each do |rental| %>
        <% if rental.item_type == "Movie" %>
            <li><%= rental.movie.title %></li>
        <% else %>
            <li><%= rental.game.title %></li>
        <% end %>
    <% end %>
</ul>
